---
import type { NavLink } from '~/types'

interface Props {
  link: NavLink
}

const { link } = Astro.props
const href = link.external ? link.url : `${import.meta.env.BASE_URL}${link.url}`
---

<a
  class="underline"
  rel={link.external ? 'noopener noreferrer' : undefined}
  target={link.external ? '_blank' : undefined}
  href={href}
>
  {link.name}
</a>
